<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tab Tool</title>
    <style>
        :root {
            --bgColor: #f4f4f4;
        }

        body {

            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            text-decoration: none;
        }

        body {
            background-color: #f4f4f4;
            background-image: url("https://i.imgur.com/FUosmp0.jpg");
            background-size: cover;
            background-attachment: fixed ;
            background-position: center;
            
        }

        .conteiner {
            display: flex;
            pointer-events: fixed;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

        }

        .card {
            width: 250px;
            height: 150px;
            padding: 2rem;
            box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
            display: grid;
            place-content: center;
            margin: 1vw 0;
            text-align: center;
            border-left: 1px solid #fff;
            border-top: 2px solid #fff;
            border-radius: 0.5rem;
            background: var(--bgColor);
            position: relative;
        }

        .name {
            font-size: 1rem;
            font-weight: 500;
            color: var();

        }

        .form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 2rem;
            width: 100%;
        }

        .form>input {
            width: 50%;
            min-width: 300px;
            height: 40px;
            padding: 0.5rem;
            border: none;
            border-radius: 0.5rem;
            margin-right: 1rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: #414141;
        }

        .form>button {
            width: 50px;
            height: 40px;
            border: none;
            border-radius: 0.5rem;
            background-color: #99f;
            color: #000;
            font-size: 2.4rem;
            font-weight: 500;
            cursor: pointer;
        }

        .name {
            max-width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.9rem;
        }

        .title {
            max-width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.1rem;
            margin: 1rem 0;
            letter-spacing: -0.1rem;
        }

        #logout {
            position: absolute;
            display: block;
            width: 100%;
            margin: 1rem auto;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .ads {
            width: 100vw;
        }
        #logout{
            position:fixed;
            bottom: 10px;
            left: 10px;
            font-size:1rem;
            
        }
        a{
            text-decoration: none;
            color:black;
        }
        .delete{
            width: 100%;
            padding: 0.5rem 4rem;
            color: #fff;
            background-color: #f00;
        }
        .conteiner-card{
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        .conteiner-card .delete{
            transform: translateY(-20%);
            border-radius: 0 0 0.5rem 0.5rem;
            text-align: center;
            border-left: 1px solid fff;
        }
        

        @media (max-width: 650px) {
            *{
                padding: 0;
                margin: 0;
            }
            .conteiner{
                width:100vw;
            }
            .form{
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin:0;
                padding: 0.5rem;
            }
            .form {
                width: 95vw;
            }

            .form>input,
            .form>button {
                display: block;
                width: 100%;
                margin:5px auto
            }

            

        

            body{
                scroll-padding-bottom: 6rem;
            }
            .conteiner{
                padding-bottom: 5rem;
            }
  .form {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 999;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: none;
    background-color: var(--bgColor);
    padding: 0;
  }
  .form>input {
    width: 85%;
    margin: 5px;
  }
    .form>button {
        width: 10%;
        margin: 0;
    }
}

    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7278646739489876"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="conteiner">
        <form action="/add/shortcut" method="post" class="form">
            <input type="text" name="link" placeholder="Adicionar link" required>
            <button type="submit">+</button>
        </form>
        <div class="ads">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7278646739489876"
                crossorigin="anonymous"></script>
        </div>
        
        <!-- criando looping com os links -->
        <% for (let i=0; i < links.length; i++) { %>
            <div class="conteiner-card">
            <a href="<%= links[i].url %>" target="_blank">
                <span class="card" style="--bgColor: <%= links[i].bgColor %>;">
                    <h3 class="title">
                        <%= links[i].title %>
                    </h3>
                    <p class="name">
                        <%= links[i].url %>
                    </p>
                    
                </span>
            </a>
            <a href="/delete/shortcut/<%= links[i]._id %>" class="delete">Excluir</a></div>
            <% } %>



    </div>
    <a href="/auth/logout" id="logout">Sair</a>
</body>

</html>